ion-content {
  --background: url('../../assets/fondopas.png')
}
ion-toolbar {
  --background: rgb(141, 215, 230);
}
ion-card{
  --background: rgba(141, 215, 230, 0.639);
}
.eliminar{
background-color: #f5fac1;
border-radius: 5px;
box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
}
