<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>juegodememoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">juegodememoria</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="section__sticky section__two mainContainer">
        <div class="page-padding mainContainer">
            <div class="container-large mainContainer">
                <div class="padding-large mainContainer">
                    <div class="game__intentos">
                        <b>{{(intentos-cont_intentos < intentos) ? "Intentos restantes:" : "Intentos:"}}</b> {{intentos-cont_intentos}} <br>
                        <b>Aciertos :</b> {{count_aciertos}}
                    </div>
                    <div class="game__table">
                        <span *ngFor="let card of cards; index as i">
                            <img class="" src="{{card.visible ? card.url : images_inact}}" (click)="cardSelected(i)" alt="img not found!">
                        </span>
                    </div>
                </div>
            </div>
        </div>
       </div>
</ion-content>



